body {
    font-family: Arial, sans-serif;
    background-color: rgb(0, 0, 0);
  }
  #audio-player {
    display: block;
    margin: auto;
  }
  
  h1 {
    text-align: center;
    color: #f0f0f0;
  }
  
  #question-container {
    margin: 50px auto;
    max-width: 500px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
  }
  
  #question {
    margin-bottom: 20px;
  }
  
  .choice-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 2px solid #999;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .choice-btn:hover {
    background-color: #e0e0e0;
  }
  
  .choice-btn.correct {
    background-color: #2ecc71;
  }
  
  .choice-btn.incorrect {
    background-color: #e74c3c;
  }
  
  
  #submit-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #008080;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #submit-btn:hover {
    background-color: #006666;
  }
  